**Querying the public Medicare dataset hosted in Google BigQuery.**

**About the dataset** - 
> This public dataset was created by the Centers for Medicare & Medicaid Services. The data summarizes the utilization and payments for procedures, services, and prescription drugs provided to Medicare beneficiaries by specific inpatient and outpatient hospitals, physicians, and other suppliers. The dataset includes the following data - common inpatient and outpatient services, all physician and other supplier procedures and services, and all Part D prescriptions.

In [1]:
import bq_helper
from bq_helper import BigQueryHelper
medicare = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="cms_medicare")

Using Kaggle's public dataset BigQuery integration.

In [2]:
bq_assistant = BigQueryHelper("bigquery-public-data", "cms_medicare")
bq_assistant.list_tables()

Using Kaggle's public dataset BigQuery integration.

['home_health_agencies_2013',
 'home_health_agencies_2014',
 'hospice_providers_2014',
 'hospital_general_info',
 'inpatient_charges_2011',
 'inpatient_charges_2012',
 'inpatient_charges_2013',
 'inpatient_charges_2014',
 'inpatient_charges_2015',
 'nursing_facilities_2013',
 'nursing_facilities_2014',
 'outpatient_charges_2011',
 'outpatient_charges_2012',
 'outpatient_charges_2013',
 'outpatient_charges_2014',
 'outpatient_charges_2015',
 'part_d_prescriber_2014',
 'physicians_and_other_supplier_2012',
 'physicians_and_other_supplier_2013',
 'physicians_and_other_supplier_2014',
 'physicians_and_other_supplier_2015',
 'referring_durable_medical_equip_2013',
 'referring_durable_medical_equip_2014']

In [3]:
bq_assistant.head("part_d_prescriber_2014", num_rows=5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_day_supply_ge65,total_drug_cost_ge65,total_30_day_fill_count,total_30_day_fill_count_ge65
0,1003079328,PAULEY,KAREN,MARION,OH,Physician Assistant,S,METFORMIN HCL,METFORMIN HCL,22.0,...,3990,593.80,None,#,None,#,None,None,133.0,None
1,1003847450,TURNER,RICHARD,PARADISE,CA,Family Practice,S,ENALAPRIL MALEATE,ENALAPRIL MALEATE,NaN,...,2880,455.51,None,#,None,#,None,None,96.0,None
2,1003882622,LEHMAN,MARYKAY,GRAND RAPIDS,MI,Pulmonary Disease,S,ADVAIR DISKUS,FLUTICASONE/SALMETEROL,15.0,...,2340,24406.00,None,#,None,#,None,None,78.0,None
3,1003989492,SHAH,PANNA,PATCHOGUE,NY,Family Practice,S,LEVOTHYROXINE SODIUM,LEVOTHYROXINE SODIUM,20.0,...,2460,656.19,None,#,None,#,None,None,83.0,None
4,1013934645,LILES,JERRY,ALICE,TX,Family Practice,S,LANTUS SOLOSTAR,"INSULIN GLARGINE,HUM.REC.ANLOG",25.0,...,4903,63630.74,None,#,None,#,None,None,168.1,None

In [4]:
bq_assistant.head("inpatient_charges_2015", num_rows=15)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,drg_definition,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments
0,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,MA - Springfield,12,9518.0,14317.0,10540.0
1,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,MA - Springfield,22,10771.0,7852.0,6939.0
2,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,069 - TRANSIENT ISCHEMIA,MA - Springfield,15,9839.0,5819.0,4733.0
3,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,101 - SEIZURES W/O MCC,MA - Springfield,12,8817.0,6132.0,5401.0
4,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,176 - PULMONARY EMBOLISM W/O MCC,MA - Springfield,15,10348.0,7390.0,6469.0
5,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,189 - PULMONARY EDEMA & RESPIRATORY FAILURE,MA - Springfield,22,14441.0,9588.0,8909.0
6,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,190 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W MCC,MA - Springfield,42,10246.0,8806.0,8034.0
7,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,191 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W CC,MA - Springfield,65,6934.0,7271.0,6465.0
8,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,192 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W/...,MA - Springfield,44,6099.0,5902.0,4829.0
9,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,193 - SIMPLE PNEUMONIA & PLEURISY W MCC,MA - Springfield,28,10396.0,10750.0,9994.0
10,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,194 - SIMPLE PNEUMONIA & PLEURISY W CC,MA - Springfield,55,9415.0,7692.0,6622.0
11,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,195 - SIMPLE PNEUMONIA & PLEURISY W/O CC/MCC,MA - Springfield,11,7095.0,5870.0,4851.0
12,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,202 - BRONCHITIS & ASTHMA W CC/MCC,MA - Springfield,12,6861.0,6936.0,6201.0
13,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,208 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATO...,MA - Springfield,16,25425.0,17562.0,16709.0
14,220024,HOLYOKE MEDICAL CENTER,575 BEECH STREET,HOLYOKE,MA,01040,"280 - ACUTE MYOCARDIAL INFARCTION, DISCHARGED ...",MA - Springfield,21,16462.0,12155.0,11380.0

In [5]:
bq_assistant.table_schema("inpatient_charges_2015")

,name,type,mode,description
0,provider_id,STRING,REQUIRED,The CMS Certification Number (CCN) of the prov...
1,provider_name,STRING,NULLABLE,The name of the provider
2,provider_street_address,STRING,NULLABLE,The street address in which the provider is ph...
3,provider_city,STRING,NULLABLE,The city in which the provider is physically l...
4,provider_state,STRING,NULLABLE,The state in which the provider is physically ...
5,provider_zipcode,STRING,NULLABLE,The zip code in which the provider is physical...
6,drg_definition,STRING,REQUIRED,The code and description identifying the MS-DR...
7,hospital_referral_region_description,STRING,NULLABLE,The Hospital Referral Region (HRR) in which th...
8,total_discharges,INTEGER,NULLABLE,The number of discharges billed by the provide...
9,average_covered_charges,FLOAT,NULLABLE,The provider's average charge for services cov...
10,average_total_payments,FLOAT,NULLABLE,The average total payments to all providers fo...
11,average_medicare_payments,FLOAT,NULLABLE,The average amount that Medicare pays to the p...

In [6]:
bq_assistant.table_schema("part_d_prescriber_2014")

,name,type,mode,description
0,npi,STRING,REQUIRED,National Provider Identifier
1,nppes_provider_last_org_name,STRING,NULLABLE,Last Name/Organization Name of the Provider
2,nppes_provider_first_name,STRING,NULLABLE,First Name of the Provider
3,nppes_provider_city,STRING,NULLABLE,City of the Provider
4,nppes_provider_state,STRING,NULLABLE,State Code of the Provider
5,specialty_description,STRING,NULLABLE,Provider Specialty Type
6,description_flag,STRING,NULLABLE,Source of Provider Specialty
7,drug_name,STRING,REQUIRED,Name of the drug
8,generic_name,STRING,NULLABLE,Generic name of the drug
9,bene_count,INTEGER,NULLABLE,Number of Medicare Beneficiaries
10,total_claim_count,INTEGER,NULLABLE,"Number of Medicare Part D Claims, Including Re..."
11,total_day_supply,INTEGER,NULLABLE,Number of Day's Supply for All Claims
12,total_drug_cost,FLOAT,NULLABLE,Aggregate Cost Paid for All Claims
13,bene_count_ge65,INTEGER,NULLABLE,Number of Medicare Beneficiaries Age 65+
14,bene_count_ge65_suppress_flag,STRING,NULLABLE,Reason for Suppression of Bene_Count_ge65
15,total_claim_count_ge65,INTEGER,NULLABLE,"Number of Claims, Including Refills, for Benef..."
16,ge65_suppress_flag,STRING,NULLABLE,Reason for Suppression of Total_Claim_Count_Ge...
17,total_day_supply_ge65,INTEGER,NULLABLE,Number of Day's Supply for All Claims for Bene...
18,total_drug_cost_ge65,FLOAT,NULLABLE,Aggregate Cost Paid for All Claims for Benefic...
19,total_30_day_fill_count,FLOAT,NULLABLE,The aggregate number of Medicare Part D standa...
20,total_30_day_fill_count_ge65,FLOAT,NULLABLE,The number of Medicare Part D standardized 30-...

What is the total number of medications prescribed in each state?

The following query computes the total number of claims made in each state. (Top 10 with total claim count in millions).

In [7]:
#nppes_provider_state - State Code of the Provider.
#total_claim_count - number of Medicare Part D claims including Refills.
query1 = """SELECT
  nppes_provider_state AS state,
  ROUND(SUM(total_claim_count) / 1e6 ) AS total_claim_count_millions
FROM
  `bigquery-public-data.cms_medicare.part_d_prescriber_2014`
GROUP BY
  state
ORDER BY
  total_claim_count_millions DESC
LIMIT
  10;
        """
response1 = medicare.query_to_pandas_safe(query1)
response1.head(10)

  state  total_claim_count_millions
0    CA                       116.0
1    FL                        91.0
2    NY                        80.0
3    TX                        76.0
4    PA                        63.0
5    OH                        53.0
6    NC                        46.0
7    IL                        43.0
8    MI                        39.0
9    GA                        39.0

In [8]:
# This query aggregates the sum of total_claim_counts for a particular drug  and 
#displays the sum of total_claim_count grouped by state
query2 = """SELECT
      nppes_provider_state , generic_name, round(sum(total_claim_count)) as total_claim_count
    FROM
      `bigquery-public-data.cms_medicare.part_d_prescriber_2014`  
    GROUP BY  nppes_provider_state , generic_name
    HAVING generic_name = 'AMOXICILLIN' order by total_claim_count desc
    """
response1 = medicare.query_to_pandas_safe(query2)
response1.head(5)

  nppes_provider_state generic_name  total_claim_count
0                   CA  AMOXICILLIN           494134.0
1                   FL  AMOXICILLIN           380528.0
2                   NY  AMOXICILLIN           340811.0
3                   TX  AMOXICILLIN           305253.0
4                   PA  AMOXICILLIN           276493.0

In [9]:
##This query will retrive the max of total_claim_count group by state
query3 = """SELECT
    state,
    MAX(total_claim_count) AS max_total_claim_count
  FROM (
    SELECT
      nppes_provider_state AS state,generic_name,
      ROUND(SUM(total_claim_count)) AS total_claim_count
    FROM
      `bigquery-public-data.cms_medicare.part_d_prescriber_2014`
    GROUP BY
      state,
      generic_name  order by state asc, total_claim_count asc )
  GROUP BY
    state  order by max_total_claim_count desc """
response2 = medicare.query_to_pandas_safe(query3, max_gb_scanned=10)
response2.head(5)

  state  max_total_claim_count
0    CA              3844722.0
1    FL              2982449.0
2    TX              2833795.0
3    NY              2609790.0
4    PA              2353753.0

What is the most prescribed medication in each state?

This query builds on the previous query to find the medication with the highest claim count for each state.

In [10]:
query2 = """SELECT
  A.state,
  drug_name,
  total_claim_count,
  day_supply,
  ROUND(total_cost_millions) AS total_cost_millions
FROM (
  SELECT
    generic_name AS drug_name,
    nppes_provider_state AS state,
    ROUND(SUM(total_claim_count)) AS total_claim_count,
    ROUND(SUM(total_day_supply)) AS day_supply,
    ROUND(SUM(total_drug_cost)) / 1e6 AS total_cost_millions
  FROM
    `bigquery-public-data.cms_medicare.part_d_prescriber_2014`
  GROUP BY
    state,
    drug_name) A
INNER JOIN (
  SELECT
    state,
    MAX(total_claim_count) AS max_total_claim_count
  FROM (
    SELECT
      nppes_provider_state AS state,
      ROUND(SUM(total_claim_count)) AS total_claim_count
    FROM
      `bigquery-public-data.cms_medicare.part_d_prescriber_2014`
    GROUP BY
      state,
      generic_name)
  GROUP BY
    state) B
ON
  A.state = B.state
  AND A.total_claim_count = B.max_total_claim_count
ORDER BY
  A.total_claim_count DESC
LIMIT
  5;
        """
response2 = medicare.query_to_pandas_safe(query2, max_gb_scanned=10)
response2.head(10)

,state,drug_name,total_claim_count,day_supply,total_cost_millions
0,CA,LEVOTHYROXINE SODIUM,3844722.0,211726348.0,78.0
1,FL,LEVOTHYROXINE SODIUM,2982449.0,163379911.0,64.0
2,TX,HYDROCODONE/ACETAMINOPHEN,2833795.0,60404796.0,63.0
3,NY,AMLODIPINE BESYLATE,2609790.0,123221634.0,21.0
4,PA,LEVOTHYROXINE SODIUM,2353753.0,109162406.0,44.0

What is the average cost for inpatient and outpatient treatment in each city and state?

In [11]:
query3 = """SELECT
  OP.provider_state AS State,
  OP.provider_city AS City,
  OP.provider_id AS Provider_ID,
  ROUND(OP.average_OP_cost) AS Average_OP_Cost,
  ROUND(IP.average_IP_cost) AS Average_IP_Cost,
  ROUND(OP.average_OP_cost + IP.average_IP_cost) AS Combined_Average_Cost
FROM (
  SELECT
    provider_state,
    provider_city,
    provider_id,
    SUM(average_total_payments*outpatient_services)/SUM(outpatient_services) AS average_OP_cost
  FROM
    `bigquery-public-data.cms_medicare.outpatient_charges_2014`
  GROUP BY
    provider_state,
    provider_city,
    provider_id ) AS OP
INNER JOIN (
  SELECT
    provider_state,
    provider_city,
    provider_id,
    SUM(average_medicare_payments*total_discharges)/SUM(total_discharges) AS average_IP_cost
  FROM
    `bigquery-public-data.cms_medicare.inpatient_charges_2014`
  GROUP BY
    provider_state,
    provider_city,
    provider_id ) AS IP
ON
  OP.provider_id = IP.provider_id
  AND OP.provider_state = IP.provider_state
  AND OP.provider_city = IP.provider_city
ORDER BY
  combined_average_cost DESC
LIMIT
  10;
        """
response3 = medicare.query_to_pandas_safe(query3, max_gb_scanned=10)
response3.head(10)

,State,City,Provider_ID,Average_OP_Cost,Average_IP_Cost,Combined_Average_Cost
0,IN,MISHAWAKA,150177,399.0,102521.0,102920.0
1,MI,WARREN,230264,104.0,88620.0,88724.0
2,TX,HOUSTON,450674,88.0,67571.0,67659.0
3,TX,EL PASO,450877,230.0,45179.0,45409.0
4,CO,VAIL,60096,261.0,38651.0,38912.0
5,TN,MEMPHIS,440152,89.0,35698.0,35787.0
6,LA,BATON ROUGE,190128,87.0,34369.0,34456.0
7,LA,LEESVILLE,190297,560.0,32611.0,33171.0
8,CA,SAN FRANCISCO,50454,156.0,32803.0,32959.0
9,CA,LOS ANGELES,50262,120.0,31795.0,31915.0

References => https://cloud.google.com/bigquery/public-data/medicare

References => # https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package